---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="inner-container">
			<h1 class="title">Yeah, I <span class="text-gradient">Code.</span></h1>

			<Card title="hi" top="3px"/>


		</div>
	</main>
</Layout>


<style>
	main {
		position: relative;
		/* max-width: calc(100% - 2rem); */
		color: black;
		font-size: 20px;
		/* line-height: 1.6; */
		height: 100vh;
		width: 100vw;
	}
	.inner-container {
		border: 1px solid black;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 1rem 1rem;
	}
	@media only screen and (min-width: 768px)  {
		.inner-container {
			margin: 2rem 2rem;
		}
	}
	.title {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: black;
		/* position: relative;
		z-index: 100; */
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
