---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="inner-container">
			<Header />
			<h1 class="title">Yeah, I <span class="text-gradient">Code.</span></h1>

			<Card title="NeverFap Deluxe" cardClass="card-pos-1" />
			<Card title="Afterpay" cardClass="card-pos-2" />
			<Card title="MYOB" cardClass="card-pos-3" />
			<Card title="FMClarity" cardClass="card-pos-3" />
		</div>
	</main>
</Layout>

<style>
	.background {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 50%;
		height: 100%;
		z-index: 0;
	}

	main {
		position: relative;
		/* max-width: calc(100% - 2rem); */
		color: black;
		font-size: 20px;
		/* line-height: 1.6; */
		height: 100vh;
		width: 100vw;
	}
	.inner-container {
		border: 1px solid black;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 1rem 1rem;
	}

	.inner-container-header {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
	}

	@media only screen and (min-width: 768px)  {
		.inner-container {
			margin: 2rem 2rem;
		}
	}
	.title {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		color: black;
		/* position: relative;
		z-index: 100; */
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
