---
import './Card.css'

interface Props {
	title: string;
	top: string;
}

const { title, top } = Astro.props;
---

<div class="mask">
	<div class="content">Content</div>
</div>

<!-- I'm thinking maybe the mask should just be the gif, and then the text should be -->

<style>
	.mask-full {
		width: 100%;
		height: 100%;
	}
</style>

<script>
	const mask = document.querySelector('.mask')

	mask?.addEventListener('mouseover', function() {
		mask.classList.add('mask-open')

		mask?.addEventListener('mouseleave', function() {
			mask.classList.remove('mask-open')
		})
	})

</script>