---

---

<header class="inner-container-header">
  <div>Julius</div>
  <div class="links">
    <a href="/contact">Contact</a>
    <a href="/resume">Resume</a>
  </div>
</header>

<style>
	.inner-container-header {
		display: flex;
		justify-content: space-between;
		padding: 1rem;

    font-size: 1rem;
	}

</style>
